* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Verdana;
    font-size: 1.1rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    background-color: #E6E6E6;
}

.control {
    width: 450px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: solid 3px rgba(128, 128, 128, 0.25);
    margin-bottom: 10px;
}

.start {
    height: 100%;
}

.player-turn {
    background-color: yellowgreen;
}

.prompt {
    height: 2rem;
    width: 400px;
    text-align: center;
}

.frame {
    height: 450px;
    margin: 30px 0;

    border-top-left-radius: 45px;
    border-top-right-radius: 45px;

    border-top: solid 20px #00489b;
    border-left: solid 20px #00489b;
    border-right: solid 20px #00489b;
}

.board-container {
    width: 400px;
    height: 400px;

    display: flex;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;

    border-bottom: solid 20px #A37765;
}

.left-stick, .mid-stick, .right-stick {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.stick {
    width: 10px;
    height: 20px;
    background-color: rgb(161, 161, 161);
    border-right: solid 3px rgba(128, 128, 128, 0.575);
}

.cells {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    border-radius: 7.5px;
}

.cell0, .cell2, .cell4, .cell6, .cell8 {
    background-color: orange;
    border-right: solid 3px rgb(255, 136, 0);
    border-bottom: solid 1px rgb(255, 136, 0);
}

.cell1, .cell3, .cell5, .cell7 {
    background-color: #9acd32;
    border-right: solid 3px rgb(127, 180, 21);
    border-bottom: solid 1px rgb(127, 180, 21);
}